body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* Remove default margin */
}

h1 {
    margin: 100px 20px; /* Use shorthand for margin */
    pointer-events: none;
    user-select: none;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    h1 {
        margin: 50px 10px; /* Adjust margins for smaller screens */
    }
}
